*{
  margin: 0;
  padding: 0;
}
#page{
  width: 100vw;
  height: 98vh;
  display: grid;
  justify-content: center;
}
#name{
  text-align: center;
  font-size: calc(calc(5vw + 3vh));
}
#container-form{
  display: grid;
}
#container-input{
  width: calc(35vw + 15vh);
  text-align: center;
  font-size: xx-large;
  height: 7vh;
  min-height: 50px;
}
#container-submit{
  width: calc(30vw + 12vh);
  justify-self: center;
  font-size: xx-large;
  height: 7vh;
  min-height: 50px;

}
#container-input::placeholder{
  text-align: center;
  font-size: xx-large;
}